<dom-module id="google-geocoder">

  <script>
  (function() {
    'use strict';

      window.gmapsLoaded = function() {
        Polymer.Base.fire('gmapsLoaded', null, {node: window});
      };

      var loadScript = function(src, callback) {
        var s = document.querySelector('script[src="' + src + '"]');
        if (s) {
          callback && (s.loaded && callback.call()) || s.addEventListener('load', callback);
          return;
        }
        s = document.createElement('script');
        s.async = 1;
        s.defer = 1;
        s.src = src;
        s.addEventListener('load', function() { this.loaded = true; callback && callback.call(); });
        document.body.appendChild(s);
      };

      function equals(a1, a2) {
        return a1.length == a2.length && a1.every(function(v, i) { return v === a2[i]; });
      }

      function find(a, o) {
        return a.find(function(e) {
          var f = true;
          for (var k in o) {
            if (typeof o[k] == "object" && o[k].length) {
              f = equals(o[k], e[k]);
            } else if (typeof o[k] == "object") {
              //
            } else {
              f = o[k] == e[k];
            }
          }
          return f;
        })
      }

      Polymer({
        is: 'google-geocoder',
        fileLocation: 'components/google-geocoder-element.html',
        properties: {
          reverse: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          address: {
            type: String,
            reflectToAttribute: true,
            observer: 'addressChanged'
          },
          lat: {
            type: Number,
            reflectToAttribute: true,
            notify: true
          },
          lng: {
            type: Number,
            reflectToAttribute: true,
            notify: true
          },
          coordinates: {
            type: Object,
            reflectToAttribute: true,
            notify: true,
            observer: 'coordinatesChanged'
          }
        },
        observers: [
          'latlngChanged(lat, lng)'
        ],
        addressChanged: function() {
          this.address && this.geocodeAddress(this.address);
        },
        latlngChanged: function() {
          this.lat && this.lng && this.geocodeLatLng(this.lat, this.lng);
        },
        coordinatesChanged: function() {
          if (this.coordinates && this.coordinates.lat &&  this.coordinates.lng) {
            this.lat = this.coordinates.lat;
            this.lng = this.coordinates.lng;
          }
        },
        created: function() {
          window.addEventListener('gmapsLoaded', this.initGeocoder.bind(this));
          if (typeof google !== 'object' || !google.maps) {
            loadScript('//maps.googleapis.com/maps/api/js?sensor=false&callback=gmapsLoaded');
          }
        },
        initGeocoder: function() {
          if (typeof google !== 'object' || !google.maps) return;
          this._geocoder = new google.maps.Geocoder();
          this.reverse && this.latlngChanged() || this.addressChanged();
        },
        geocodeLatLng: function(lat, lng) {
          if (!this.reverse) return;
          if (!this._geocoder) {
            this.initGeocoder();
            return;
          }
          this._geocoder.geocode({ 'location': { lat: parseFloat(lat), lng: parseFloat(lng) } }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK && results[0]) {
              var locality = find(results[0].address_components, { "types" : [ "locality", "political" ] });
              if (!locality) locality = find(results[0].address_components, { "types" : [ " administrative_area_level_2", "political" ] });
              var country = find(results[0].address_components, { "types" : [ "country", "political" ] }).long_name;
              this.address = locality.long_name + ', ' + country;
            }
          }.bind(this));
        },
        geocodeAddress: function(address) {
          if (this.reverse) return;
          if (!this._geocoder) {
            this.initGeocoder();
            return;
          }
          this._geocoder.geocode({ 'address': address }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              var center = results[0].geometry.location;
              this.coordinates = { lat: center.lat(), lng: center.lng() };
            }
          }.bind(this));
        }
      });
  })();
  </script>

</dom-module>